<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="row text-center mt-5">
            <h1 class="display-3 fw-bold text-capitalize">Latest work</h1>
            <div class="heading-line"></div>
            <p class="lead">
                Projects and works that I've done and that I'm still finishing or maintaining.
            </p>
        </div>
        <!-- FILTER BUTTONS  -->
        <div class="row mt-5 mb-4 g-3 text-center">
            <div class="col-md-12">
                <button class="btn btn-outline-primary" type="button">All</button>
                <button class="btn btn-outline-primary" type="button">Websites</button>
                <button class="btn btn-outline-primary" type="button">CRM</button>
                <button class="btn btn-outline-primary" type="button">Backoffice</button>
            </div>
        </div>

        <!-- START THE PORTFOLIO ITEMS  -->
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="portfolio-box shadow">
                    <img src="assets/images/portfolio/perfil.png" alt="portfolio 1 image" title="portfolio 1 picture"
                        class="img-fluid">
                    <div class="portfolio-info">
                        <div class="caption">
                            <h4>Perfil Imóveis</h4>
                            <p>CRM</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="portfolio-box shadow">
                    <img src="assets/images/portfolio/crie.png" alt="portfolio 2 image" title="portfolio 2 picture"
                        class="img-fluid">
                    <div class="portfolio-info">
                        <div class="caption">
                            <h4>Crieatividade</h4>
                            <p>Websites</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="portfolio-box shadow">
                    <img src="assets/images/portfolio/cidades.png" alt="portfolio 3 image" title="portfolio 3 picture"
                        class="img-fluid">
                    <div class="portfolio-info">
                        <div class="caption">
                            <h4>Cidades.co</h4>
                            <p>Backoffice</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="portfolio-box shadow">
                    <img src="assets/images/portfolio/mlocks.png" alt="portfolio 4 image" title="portfolio 4 picture"
                        class="img-fluid">
                    <div class="portfolio-info">
                        <div class="caption">
                            <h4>My Personal Website</h4>
                            <p>Websites</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="portfolio-box shadow">
                    <img src="assets/images/portfolio/pexels-negative.jpg" alt="portfolio 5 image"
                        title="portfolio 5 picture" class="img-fluid">
                    <div class="portfolio-info">
                        <div class="caption">
                            <h4>project name goes here 5</h4>
                            <p>category project</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="portfolio-box shadow">
                    <img src="assets/images/portfolio/pexels-pixabay.jpg" alt="portfolio 6 image"
                        title="portfolio 6 picture" class="img-fluid">
                    <div class="portfolio-info">
                        <div class="caption">
                            <h4>project name goes here 6</h4>
                            <p>category project</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>