<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="row text-center mt-5">
            <h1 class="display-3 fw-bold text-capitalize">Latest work</h1>
            <div class="heading-line"></div>
            <p class="lead">
                Projects and works that I've done and that I'm still finishing or maintaining.
            </p>
        </div>
        <!-- FILTER BUTTONS  -->
        <div class="row mt-5 mb-4 g-3 text-center">
            <div class="col-md-12">
                <button class="btn btn-outline-primary m-1" type="button" (click)="filter('All')">All</button>
                <button class="btn btn-outline-primary m-1" type="button" (click)="filter('Frontend')">Frontend</button>
                <button class="btn btn-outline-primary m-1" type="button" (click)="filter('Backend')">Backend</button>
            </div>
        </div>

        <!-- START THE PORTFOLIO ITEMS  -->
        <div class="row">
            <ng-template ngFor let-portfolioItem [ngForOf]="portfolioItems" let-i="index">
                <div class="col-lg-4 col-md-6" *ngIf="portfolioItem.show">
                    <div class="portfolio-box shadow">
                        <a href="assets/images/portfolio/{{portfolioItem.image}}" class="glightbox glightbox-img">
                            <img src="assets/images/portfolio/{{portfolioItem.image}}" alt="Perfil Imoveis"
                                title="portfolio 1 picture" class="img-fluid">
                            <div class="portfolio-info">
                                <div class="caption">
                                    <h4>{{portfolioItem.name}}</h4>
                                    <p>{{portfolioItem.category}}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</section>