@import "node_modules/bootstrap/scss/bootstrap-utilities";

@include media-breakpoint-down(sm) {
  .intro-section {
    padding: 5rem 0 0 0;
  }
  .button-hidden-sm {
    display: none;
  }

  .border-animation {
    height: 4rem;
    width: 4rem;
  }

  .fa-play-circle {
    font-size: 4rem !important;
  }
}
